
.note {
    float: left;
    border: 1px solid #000;
    width: 500px;
    height: 200px;
    margin: 5px;
    padding-left: 1px;
    background-color: #000;
}

.add {
    cursor:pointer;
    float: left;
    border: 2px solid #000;
    width: 492px;
    height: 198px;
    margin: 5px;
    padding-left: 7px;
    text-align: center;
}

.ic_add {
    font-size: 60px;
}

.add_bq {
    font-size: 20px;
}

.tarea {
    font-size: 20px;
    width: 494px;
    height: 192px;
    margin-top: -21px;
}

.close {
    cursor: pointer;
    position: relative;
    float: right;
    border: 1px solid #66ccff;
    background-color: #66ccff;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    
}